branches:
  - name: main
  - name: dev
    prerelease: alpha

plugins:
  - - "@semantic-release/commit-analyzer"
    - preset: conventionalcommits

  - - "@semantic-release/release-notes-generator"
    - preset: conventionalcommits

  - - "@semantic-release/github"
    - assets:
        - path: ../../artifacts/ExpressionEngine.*.nupkg
          label: Parser DLL

  - - "@semantic-release/exec"
    - publishCmd: "dotnet nuget push ..\\..\\artifacts\\Delegate.ExpressionEngine.*.nupkg --source https://nuget.pkg.github.com/delegateas/index.json --api-key ${process.env.GITHUB_TOKEN}"

  - - "@semantic-release/exec"
    - publishCmd: "dotnet nuget push ..\\..\\artifacts\\Delegate.ExpressionEngine.*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${process.env.CI_NUGET_API_KEY}"